<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<style>
			.error {
				color: red;
			}
		</style>
		<title>Panucci's Pizza</title>
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<div class="title">
			<div><img src="/images/logo.jpg" class="thumbnail" /></div>
			<h2>Panucci's Pizza</h2>
		</div>

		<form
			th:object="${order}"
			th:action="@{/pizza}"
			th:method="post"
			enctype="application/x-www-form-urlencoded">
			<input type="submit" value="submit" />

			<div>
				<h2>Select a pizza</h2>
				<table>
					<tr>
						<td>
							<div>
								<img src="/images/Bella.png" class="pizza" />
							</div>
							<div><input type="radio" name="pizza" value="bella" /> Bella</div>
						</td>
						<td>
							<div>
								<img src="/images/Margherita.png" class="pizza" />
							</div>
							<div>
								<input type="radio" name="pizza" value="margherita" />
								Margherita
							</div>
						</td>
						<td>
							<div>
								<img src="/images/Marinara.png" class="pizza" />
							</div>
							<div>
								<input type="radio" name="pizza" value="marinara" /> Marinara
							</div>
						</td>
						<td>
							<div>
								<img src="/images/SpianataCalabrese.png" class="pizza" />
							</div>
							<div>
								<input type="radio" name="pizza" value="spianatacalabrese" />
								Spianata Calabrese
							</div>
						</td>
						<td>
							<div>
								<img src="/images/TrioFormaggio.png" class="pizza" />
							</div>
							<div>
								<input
									type="radio"
									name="pizza"
									th:field="*{pizza}"
									value="trioformaggio" />
								Trio Formaggio
							</div>
							<br />
							<p
								class="error"
								th:if="${#fields.hasErrors('pizza')}"
								th:errorclass="pizza"
								th:errors="*{pizza}" />
						</td>
					</tr>
					<tr>
						<td>Size:</td>
						<td>
							<select name="size" th:field="*{size}">
								<option value="sm">Small</option>
								<option value="md">Medium</option>
								<option value="lg">Large</option>
							</select>
							<br />
							<p
								class="error"
								th:if="${#fields.hasErrors('size')}"
								th:errorclass="size"
								th:errors="*{size}" />
						</td>
					</tr>
					<tr>
						<td>Quantity:</td>
						<td>
							<input type="number" name="quantity" th:field="*{quantity}" />
						</td>
						<p
							class="error"
							th:if="${#fields.hasErrors('quantity')}"
							th:errorclass="quantity"
							th:errors="*{quantity}" />

						<td>quantity:</td>
						<td><input type="number" th:field="*{quantity}" /></td>
						<td
							th:if="${#fields.hasErrors('quantity')}"
							th:errors="*{quantity}">
							quantity Error
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<button type="submit">Next</button>
						</td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>
